body{
	background-color: #fff;
}

color-dblue{
	color: #1064AE;
}

div.content{
	margin-left: 200px;
	padding: 1px;
}

.sidebar{
	position: fixed;
	margin: 0;
	padding: 0;
	width: 200px;
	height: 100%;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
	overflow: auto;
	background-color: #1064ae;
	
}

div.open-menu{
	position: relative;
	display: none;
}

.sidebar a{
	display:block;
	padding: 16px;
	text-decoration: none;
}

/*screen less than 767px*/
@media screen and (max-width: 767px){
	.sidebar{
		position: fixed;
		z-index:10;
		display: none;
	}
	
	div.content{
		margin-left: 0;
		position: relative;
		z-index: 1;
	}
	
	div.open-menu{
		display: block;
	}
	div.open-menu a{
		position: fixed;
		top: .5em;
		left: .5em;
		z-index: 15;
		font-family: 'Nanum Gothic', sans-serif;
		font-size: 30px;
		font-weight: 700;
		width: 40px;
		height: 40px;
		line-height: .9em;
		text-align: center;
		border: .2em solid #888;
		background-color: #fff;
		border-radius: 3em;
		color: #888!important;
	}
	
	.close-menu{
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, .3) 1px 1px repeat;
		z-index: 9;
	}
}

.color-primary{
	background-color: #1064ae;
}
.color-secondary{
	background-color: #89c5fb;
}
.color-tertiary{
	background-color: #d4dfe9;
}
text-primary{
	color: #1064ae;
}
text-secondary{
	color: #89c5fb;
}
text-tertiary{
	color: #d4dfe9;
}

.rak-box{
	width: 50px;
	height: 50px;
}



.boxhidden{
	opacity:0;
}
.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 2rem;
  color: #1064ae;
}
.checkbox_control {
  display: inline-grid;
  width: 1em;
  height: 1em;
  border-radius: 0.25em;
  border: 0.1em solid currentColor;
}
.checkbox_input {
  display: grid;
  grid-template-areas: "checkbox";

  > * {
    grid-area: checkbox;
  }
}
.checkbox_control svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}
.checkbox_input input:checked + .checkbox_control svg {
  transform: scale(1);
}
.checkbox_input input:focus + .checkbox_control {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
}
